@page "{id:int}"

@model PosterMaker.UI.Pages.App.AppCategoryListModel

@using PosterMaker.UI.DTOs

@{
    ViewData["Title"] = "App's Categories";
}

<div class="container">
    <div>
        <h4>Category List Of App :  @Model?.CategoryList[0]?.App?.Name</h4>
        <a class="btn btn-default" href="/Category/CreateCategory" style="float:right;border:1px solid Green;">Add a new Category</a>
    </div>

    <table cellpadding="0" cellspacing="0" class="table">
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Created Date</th>
        </tr>
        @foreach (var item in @Model.CategoryList)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <img src="@item.ThumbnailPath"
                         alt='@item.Name'
                         class='img-fluid'>
                </td>                
                <td>@item.CreatedAt</td>
            </tr>
        }
    </table>
    @* <div class="row">
        @foreach (var item in Model.CategoryList)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 12rem;height:8rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        @if (item.Content != null)
                            {
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Content)" alt='' class='img-fluid'>
                            }


                        <span class="card-title">@item.CreatedAt</span>
                    </div>
                </div>
            </div>
        }
    </div>    *@
</div>

@section Scripts{
    <script>
        //
    </script>
}