@page 
@model PosterMaker.UI.Pages.App.IndexModel
@{
    ViewData["Title"] = "App List";
}


<div class="container">

    <div>
        <h4>App List</h4>
        <a class="btn btn-default" href="/App/CreateApp" style="float:right;border:1px solid Green;margin: -3px 0px 0px 0px;">Create new app</a>
    </div>

    <div class="table-responsive">
        <table cellpadding="0" cellspacing="0" class="table  table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Image</th>           
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
        @foreach (Models.App app in @Model.AppList)
        {
            <tr>
                <td>@app.Name </td>
                <td>
                    <img src="@app.ThumbnailPath"
                         alt='@app.Name'
                         class='img-fluid'>
                </td>
                <td>@app.CreatedAt</td>
                <td>Edit | Delete</td>
            </tr>
        }
    </table>

    </div>
   @*  <div class="row">
        <a class="btn btn-default" href="/App/CreateApp">Create new app</a>
        @foreach (var item in Model.AppList)
        {
          
            <div class="col-md-3 m-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <img src="@item.ThumbnailPath"
                             alt='@item.Name'
                             class='img-fluid'>
                        <span class="card-title">@item.CreatedAt</span>
                    </div>
                </div>
            </div>
              
        }
    </div> *@
    
</div>




@section Scripts{
    <script>
        $(function () {
            $('#btn-test').on('click', function () {
                window.location.href = "/App/AppCategoryList";
            });
        });
    </script>
}